select {
    width: 100%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #1100fc;
    padding: 20px 20px;
}

div #repo-container {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    padding: 20px 20px;
    width: 40%;
    margin-top: 5%;
    width: 45%;
    display: inline-block;
}

div #contribs-container {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    padding: 20px 20px;
    width: 40%;
    margin-top: 5%;
    display: block;
    float: right;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 70px;
    height: 70px;
}